body{
    background-color: slategray;
}
#btn-holder{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4px;
}
#container{
    height: 330px;
    width: 300px;
    background-color: rgb(77, 77, 77);
    border: 5px solid;
    border-radius: 20px;
    border-color: hsl(0, 4%, 22%);
    margin: auto;
}
.cal-btn{
    height: 50px;
    width: 50px;
    font-size: 32px;
    color: white;
    background-color: hsl(0, 4%, 22%);
    border: none;
    border-radius: 50px;
}
#display{
    width: 290px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(95, 94, 94);
    margin-bottom: 5px;
    color: white;
    font-size: 35px;
    text-align: right;
}
#plus{
    background-color: rgb(207, 222, 8);
}
#minus
{
    background-color: rgb(207, 222, 8);
}
#mul{
    background-color: rgb(207, 222, 8);
}
#divide{
    background-color: rgb(207, 222, 8);
}
#clear{
    background-color: red;
}
#equal
{
    background-color: rgb(5, 177, 5);
}
.cal-btn:hover{
      opacity: 0.6;
}
.cal-btn:active{
    opacity: 0.9;
}
h1{
    text-align: center;
    color: crimson;
}
h1{
    color: rgb(17, 1, 162);
}